@{
    ViewBag.Title = "Home Page";
}

<div style="margin-bottom: 0px" class="jumbotron">
    <h1>Clumsy Pete's Insurance</h1>
    <p class="lead">Insurance for those "Not so good" drivers.</p>
    <button type="button" class="btn btn-primary btn-lg">@Html.ActionLink("Get Quote","Create", "Insuree", "Create", new { @style = "color: white" }) </button >
</div>

<div>
  <img src="../img/shrug.jpg" class="img-fluid" alt="Responsive image">
</div>