@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Grocery Inventory</h1>
    <p class="lead">Add items to store inventory. Search, Edit and Delete.</p>
    @Html.ActionLink("Get Started","Create","Items","", new { @class="btn btn-primary"})
</div>
